body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1{
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
nav a {
  padding-left:  10px;
  padding-right: 10px;
  background: grey;
  margin: auto;
}
figcaption{
  font-size: 75%;
  text-align: center;
}

section p{
  width:800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


#details div {
  width:200px;
  float: left;
  text-align: center;
}

